<p [ngStyle]="{
  color: color(),
  fontSize: fontSize(),
  fontFamily: fontFamily()
}">mini-word works!</p>

<div class="row">
  <div class="col"><input [(ngModel)]="color" type="color" class="form-control" /></div>
  <div class="col"><input [(ngModel)]="size" type="number" class="form-control" /></div>
  <div class="col">
    <select [(ngModel)]="fontFamily" class="form-control">
      @for ( font of fonts(); track $index) {
        <option [selected]="font == fontFamily()" value={{font}}>{{font}}</option>
      }
    </select>
  </div>
</div>
