<!-- <app-autocomplete /> -->
@if (cv(); as mycv) {
<div class="d-flex justify-content-center">
  <div class="col-lg-8 push-lg-4">
    <div class="tab-content p-b-3">
      <div class="tab-pane active" id="profile">
        <h4 class="m-y-2">Cv {{ mycv.firstname }} {{ mycv.name }}</h4>
        <div class="d-flex justify-content-center">
          <img width="150px" height="150px" class="rounded-circle align-content-center"
            src="images/{{ mycv.path  }}" alt="{{ mycv.name }}" />
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-2">
              <span class="fa fa-clock-o ion-clock pull-xs-right"></span>
              Informations
            </h4>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Name</strong> {{ mycv.name }}</td>
                </tr>
                <tr>
                  <td><strong>Firstname</strong> {{ mycv.firstname }}</td>
                </tr>
                <tr>
                  <td><strong>Job</strong> {{ mycv.job }}</td>
                </tr>
                <tr>
                  <td><strong>Age</strong> {{ mycv.age }}</td>
                </tr>
                <tr>
                  <td><strong>Cin</strong> {{ mycv.cin }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
            @if (authService.isAuthenticated()) {
              <button
                (click)="deleteCv()"
                class="btn btn-danger">
                Delete
              </button>
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
