<div class="row">
  <div class="col">
    <ol class="list-group">
      @for (todo of todos(); track $index) {
      <li
        class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="bi bi-trash2"></i>
      </li>
      }
    </ol>
    <p>Long name todos</p>
    <ol class="list-group">
      @for (todo of longNameTodos(); track $index) {
      <li
        class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="bi bi-trash2"></i>
      </li>
      }
    </ol>
  </div>
  <div class="col">
    name:
    <input  type="text" [(ngModel)]="todo().name" class="form-control" /> content:
    <input  type="text" [(ngModel)]="todo().content" class="form-control" />

    <button
      (click)="addTodo()"
      class="btn btn-primary m-2"
      [disabled]="!this.todo().name.trim() || !this.todo().content.trim()"
    >
      add
    </button>
  </div>
</div>
